.contenedor{
    text-align: center;
    padding: 20px;
    &__input{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__monedas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        margin-top: 30px;
        justify-content: center;
    }
    &__banderas{
        width: 8%;
    }
    &__boton{
        border: none;
        background-color: #ffffff00;
        text-align: center;
        cursor: pointer;
    }
    &__img{
        width: 100%;
        aspect-ratio: 6/4;
        object-fit: cover;
        border: 0.1rem solid #3c3c3c;
    }
    &__datos{
        text-align: center;
        font-weight: 300;
    }
    &__datos-destacado{
        font-weight: 800;
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        &__monedas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            margin-top: 30px;
            justify-content: center;
        }
        &__banderas{
            width: 40%;
        }
      }
}