<div class="contenedor">
    <h1>Exchance</h1>
    <div class="contenedor__input">
        <!-- <div *ngFor="let euro of base"> -->
            <p>{{base.base}}</p>
        <!-- </div> -->
        <input type="number" [(ngModel)]="cantidad">
    </div>
    <div *ngIf="!monedas">
        <p>{{base}}</p>
    </div>
    <div class="contenedor__monedas">
        <!-- <div *ngFor="let moneda of monedas | conversor: nombreMonedas"> -->
            <div *ngFor="let item of monedas">
            <p>{{item.moneda}}: {{item.value * cantidad}}</p>
        </div>
    </div>
</div>